@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
}

.nav-list {
  @apply flex h-10 items-center rounded-xl pl-5 text-white hover:cursor-pointer;
}

.nav-list-selected {
  @apply flex h-10 items-center rounded-xl bg-slate-200 pl-5 font-bold hover:cursor-pointer;
}

.table {
  @apply min-w-full shrink-0 table-auto border-collapse;
}

.table-header {
  @apply border border-stone-300 bg-stone-400 p-3 font-bold;
}

.table-body {
  @apply border border-slate-100 bg-white p-3 text-sm;
}
